@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#china {
    background-image: url(https://images.unsplash.com/photo-1547981609-4b6bfe67ca0b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: 250px 200px;
}

#miami {
    background-image: url(https://images.unsplash.com/photo-1514214246283-d427a95c5d2f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1946&q=80);
    background-size: 250px 200px;
}

#italia {
    background-image: url(https://images.unsplash.com/photo-1596627116762-bb01a46c233b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1044&q=80);
    background-size: 250px 200px;
}

ul {
    list-style: none;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #26465c;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

p {
    color: white;
}

header nav {
    display: flex;
    justify-content: space-around;
    margin: auto 30px;
}

header nav p {
    font-weight: bolder;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 15px;
    font-size: 20px;
}

.header-content {
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10 px;
    font-size: 4rem;
}

.pacotes {
    background-color: #e5e5e5;
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.pacotes .pacotes-title {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.pacotes .card {
    width: 250px;
    height: 400px;
    background: white;
    border-radius: 24px 0px;
    margin: 25px 25px;
    position: relative;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
}

.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.pacotes .card-content ul li {
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: rgb(71, 71, 71);
    font-weight: bold;
}

.pacotes .card-content li svg {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #E7A46E;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #85BAA1;
    border-radius: 0 8px 8px 0;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: .8rem;
    color: black;
    font-weight: bold;
}

.servicos {
    padding: 15px;
}

.servicos .servicos-title {
    text-align: center;
    margin: 35px 0;
}

.servicos .servicos-cards {
    padding-top: 25px;
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
    transition: all 1s;
}

.servicos .card svg:hover {
    stroke: #85BAA1;
    transform: scale(2, 2);
}

.servicos .card h3 {
    font-weight: bold;
}

.servicos .card p {
    color: grey;
    font-size: .8rem;
    text-align: center;
}

.servicos .card .card-content {
    height: 180px;
    text-align: center;
}

.servicos button {
    background: black;
}

.contato {
    background: #e5e5e5;
    padding: 60px;
    position: relative;
}

.contato .contato-card {
    width: 350px;
    height: 300px;
    background: white;
    position: absolute;
    z-index: 99;
    border-radius: 8px;
    top: calc(50% - 150px);
    left: calc(20% - 175px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 6px rgba(32, 32, 36, .28);
}

.contato .contato-card h1 {
    padding-left: 50px;
    text-align: left;
}

.contato .contato-card li {
    font-size: .8rem;
    font-weight: bold;
    color: grey;
    display: flex;
    align-items: center;
}

.contato .contato-card li svg {
    width: 16px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}


/* RESPONSIVIDADE */


/* Landscape phones and down */


/* especial para mapa */

@media (max-width: 950px) {
    .contato {
        padding: 60px 0;
    }
    .contato .contato-card {
        left: 40px;
    }
}

@media (max-width: 800px) {
    .contato {
        padding: 20px 0;
    }
    .contato .contato-card {
        position: static;
        margin: 40px auto;
    }
}

@media (max-width: 480px) {
    body {
        margin-bottom: 555px;
    }
    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 99;
        background: #26465C;
        color: white;
        font-weight: bold;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav p {
        width: 100%;
        text-align: center;
    }
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}